/* 分層桌布 */
#s1_background {
    background-image:url('../img/backgroud1.jpg');
    background-repeat:no-repeat;
    /* position:absolute; */
    top: 8%;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index:0;
}


#title_text{
    position:absolute;
    top: 58%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    font-size:400%;
}

#title_size{
    font-size:40%;
    margin-left: 150px;
}

.pic {
    position:absolute;
    top: 70%;
    right: 50%;
    width: 50px;
}
