{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/fullpage.min.css' %}">
<!--		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->

		<!--引入自己的css-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mypagelist.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/mypagelist1.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/mypagelist2.css' %}">


		<!--引入jquery再引入fullpage-->
		<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/fullpage.js' %}"></script>

		<!--引入自己的js-->
		<script type="text/javascript" src="{% static 'js/mypagelist.js' %}"></script>
		
	</head>

	<body>

		<ul id="myMenu">
			<li data-menuanchor="homepage" class="menuList"><a href="#homepage">首頁</a></li>
			<li data-menuanchor="page1"class="menuList"><a href="#page1">About Me</a></li>
		</ul>


		<div id="fullpage">

			<div class="section section1">
				<div id="s1_background"></div>
				<div id="title_text">Hi I am David'computer<br>
					<p id="title_size">更多資訊請洽下一頁</p>
				</div>
				<a href="https://github.com/comet-602" ><img src="{% static 'img/github.png' %}" alt="" class="pic"></a>
			</div>

			<div class="section section2">
				<div id="s2_box1"></div>
				<div id="s2_box2"></div>
				<div id="s2_box3"></div>
				<div id="s2_box4"></div>
				<div id="s2_box5"></div>
				<button type="button" id='s2_btn1_id'>CPU</button>
				<button type="button" id='s2_btn2_id'>DISK</button>
				<button type="button" id='s2_btn3_id'>IP</button>
				<button type="button" id='s2_btn4_id'>SYSTEM</button>
				<button type="button" id='s2_clean'>清除</button>
			</div>


		</div>

		<div id="top_background"></div>

	</body>
</html>

<script type="text/javascript" src="{% static 'js/mypagelist1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mypagelist2.js' %}"></script>


