#s3_box1 {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 30%;
    height: 15%;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding-left:15px;
  }

#s3_box2 {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 30%;
  height: 15%;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding-left:15px;
}

#s3_box3 {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 30%;
  height: 15%;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding-left:15px;
}

#s3_box4 {
  position: absolute;
  top: 75%;
  left: 20%;
  width: 30%;
  height: 15%;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding-left:15px;
}

#s3_box5 {
  position: absolute;
  top: 15%;
  left: 55%;
  width: 20%;
  height: 15%;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding-left:15px;
}

#s3_btn1_id {
  position: absolute;
  top: 15%;
  left: 8%;
  width: 10%;
  height: 15%;
  border-radius: 1em;
  z-index: 3;
}

#s3_btn2_id {
  position: absolute;
  top: 35%;
  left: 8%;
  width: 10%;
  height: 15%;
  border-radius: 1em;
  z-index: 3;
}

#s3_btn3_id {
  position: absolute;
  top: 55%;
  left: 8%;
  width: 10%;
  height: 15%;
  border-radius: 1em;
  z-index: 3;
}

#s3_btn4_id {
  position: absolute;
  top: 75%;
  left: 8%;
  width: 10%;
  height: 15%;
  border-radius: 1em;
  z-index: 3;
}

#s3_clean {
  position: absolute;
  top: 15%;
  right: 8%;
  width: 10%;
  height: 15%;
  border-radius: 1em;
  z-index: 3;
}